services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./data/nginx:/etc/nginx/conf.d
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    depends_on:
      - webapp
    networks:
      - app-network
    restart: always
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    restart: always

  webapp:
    image: prod-svelte-webapp:4
    pull_policy: never
    container_name: sveltekit-app
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - app-network 

  websocket:
    image: websocket-server:1
    container_name: websocket_server
    pull_policy: never
    ports:
      - "9000:9000"
    environment:
      - PORT=9000
      # Add any other environment variables your app needs
    restart: unless-stopped
    # If you need to connect to other services like a database, add them here
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
